body {
    margin: 0;
    font-family: monospace;
    }
html {
    scroll-behavior: smooth;
}

button {
    position: relative;
    background-color: #deb887;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: #D2691E;
    font-size: 18px;
    justify-self: center;
}

button:hover {
    background-color: whitesmoke;
    border: #deb887 solid 1px;
    color: #deb887;
}

.submit {
    position: relative;
    background-color: #deb887;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
}
  
 .submit:hover {
  background-color: whitesmoke;
  border: #deb887 solid 1px;
  color: #deb887;
}

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: 'DM-sans', sans-serif;
    margin: 3px;
  }