
.new-page {
  width: 80%;
  margin-left: 8.5rem;
  margin-top: 5rem;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
  background-color: #3e3e3e;
	color: #d8d8d8;
  background-image: url("src/image/1.png");
  background-position: center;
  background-size: stretch;
  background-repeat: no-repeat;

}

.new-page .story-form{
	margin-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.new-page h2 {
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	font-family: Lora, serif;
	font-weight: 200;
}

.new-page h2::before {
	content: '─';
	margin-right: 0.6em;
	color: #686868;
}

.new-page h2::after {
	content: '─';
	margin-left: 0.6em;
	color: #686868;
}

.new-page textarea {
  height: 80px;
  width: 70%;
  border-radius: 8px;
  padding: 10px;
}

.new-page fieldset{
  width: 25%
}
input[type="range"]{
    -webkit-appearance: slider-vertical;
  }

  